<nav class="bg-slate-200 h-[200px] shadow-xl pt-2">
    <div class="flex justify-between pl-2 pr-10">
        <div class="flex items-center">
            <div class="text-2xl font-bold text-slate-800">To Do List</div>
        </div>
        <div class="flex items-center">
            <div class="text-xl font-bold text-slate-800">Login</div>
        </div>
    </div>
    <div class="nav-items">
        <ul class="flex pt-10 gap-[20px] justify-end m-10">
            <li class="text-xl font-bold text-slate-800">Home</li>
            <li class="text-xl font-bold text-slate-800">About</li>
            <li class="text-xl font-bold text-slate-800">Contact</li>
        </ul>
    </div>
    <div class="search">
        <div class="flex justify-center">
            <div class="bg-slate-100 rounded-full w-[500px] h-[50px] flex items-center">
                <input type="text" class="bg-slate-100 rounded-full w-[500px] h-[50px] pl-5" placeholder="Search">
                <div class="pl-5">
                </div>
            </div>
        </div>
    </div>
</nav>
